---
import MainLayout from "@/layouts/MainLayout.astro";
import MaxWidthWrapper from "@/layouts/MaxWidthWrapper.astro";
import { getCollection } from "astro:content";
import BaseHead from "@/components/BaseHead.astro";
import BlogEntry from "@/components/BlogEntry.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.published);
---

<MainLayout>
  <BaseHead
    slot="head"
    title="Seekhcode Blog"
    description="Read variety of blogs to unlock knowledge."
  />
  <MaxWidthWrapper class="my-10">
    <div class="max-w-screen-md space-y-6 md:space-y-10 mx-auto">
      {posts.map((post) => <BlogEntry post={post} />)}
    </div></MaxWidthWrapper
  >
</MainLayout>
