---
import Navbar from "@/components/Navbar/Navbar";
import { MaxWidthWrapper } from "../layouts/MaxWidthWrapper";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { cn } from "@/lib/utils";
import { buttonVariants } from "@/components/button";
import { PopularPosts } from "@/components/Hero/PopularPosts";
import { Testimonials } from "@/components/Hero/Testimonials";
import Footer from "@/components/Footer.astro";
import BaseHead from "@/components/BaseHead.astro";
---

<BaseLayout>
  <BaseHead
    title="SeekhCode"
    description="Learn to code, explore tutorials, and stay updated with the latest tech guides. Empowering developers with easy-to-follow programming insights."
    slot="head"
  />
  <div class="min-h-screen flex flex-col">
    <Navbar client:load />
    <MaxWidthWrapper
      className="relative flex items-center justify-center flex-col h-full flex-grow w-full py-10"
    >
      <!-- <ParticlesBackground /> -->
      <div class="max-w-5xl text-center space-y-10">
        <h1
          class="text-5xl md:text-6xl font-bold tracking-tight leading-tight uppercase text-gray-100"
        >
          Unlock <span class="text-green-500">Knowledge</span> with Just a Few Clicks
        </h1>
        <p class="text-lg md:text-xl text-gray-400">
          Welcome to Seekh Code – your gateway to free, high-quality coding
          tutorials and insights. Dive into our resources and elevate your
          skills effortlessly.
        </p>
        <div
          class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-8 mt-8"
        >
          <a
            class={cn(
              buttonVariants({ size: "lg" }),
              "flex items-center space-x-2 transition-transform transform hover:scale-105",
            )}
            href="/blog"
          >
            <span>Start Reading</span>
          </a>
          <a
            href="https://youtube.com/@seekhcode"
            class={cn(
              buttonVariants({ size: "lg", variant: "secondary" }),
              "flex items-center space-x-2 transition-transform transform hover:scale-105",
            )}
          >
            <span>Start Watching</span>
          </a>
        </div>
      </div>
    </MaxWidthWrapper>
  </div>
  <PopularPosts />
  <Testimonials />
  <Footer />
</BaseLayout>
