---
import Navbar from "@/components/Navbar/Navbar.astro"
import MaxWidthWrapper from "../layouts/MaxWithWrapper.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navbar/>
		<MaxWidthWrapper>
			<h1 class="text-red-500">Astro</h1>
		</MaxWidthWrapper>
	</body>
</html>
