---

---

<footer
  class="py-6 bg-end border-t border-border/20 text-white text-center text-sm md:text-base px-6"
>
  Made by WiperR (Shivang Rathore) with <span class="text-red-500">❤️</span>
</footer>
