<section class="giscus mx-auto mt-20 w-full"></section>
<script src="https://giscus.app/client.js"
        data-repo="Wiper-R/seekh-code-blog"
        data-repo-id="R_kgDOMpghhg"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOMpghhs4CkV-H"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>