---
import { cn } from "@/lib/utils";

type Props = {
  caption?: string;
  className?: string;
};

const props = Astro.props;
---

<div class={cn("flex items-center flex-col !mb-20", props.className)}>
  {props.caption && <span class="mb-1 font-semibold">{props.caption}</span>}
  <slot />
</div>
